@import "tailwindcss";


/* 2. Set Default Font di Body */
body {
  background-color: #000000; 
  color: #EFECE3;
  font-family: 'Poppins', sans-serif; /* Pastikan ini Poppins */
  -webkit-font-smoothing: antialiased; /* Agar font terlihat tajam di Mac/iOS */
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #4A70A9;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8FABD4;
}

/* Style khusus Navbar Active (dari langkah sebelumnya) */
.nav-item-active {
  background-color: #EFECE3 !important;
  color: #000000 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}